@import "compass";
@import "compass/layout";
@import "mixins.scss";
@import "variables.scss";

body {
    background: #dfdada;
    height: 100vh;

    h1 {
        @include heading-font(3em);
    }
}

section {
    .link {
        font: {
            family: $font-one;
        }

        background: darken($white, 8%);
        color: $blue;
        @include border-corner-radius(top, left, 80px);
        padding: 5px 10px;
        margin: 10px;
    }

    article {
        background: $lightYellow;
        margin-bottom: 30px;

        h2 {
            color: #fff;
        }

        p {
            color: #fff;
        }

        &.article-1 {
            background: lighten($lightYellow, 20%);

            h2 {
                @include heading-font(1em);
            }

            a {
                // WE CAN ALSO CUSTOMIZED LINK VARIABLES
                @extend .link;
                color: $black;
            }
        }

        &.article-2 {
            h2 {
                @include heading-font;
            }

            a {
                color: black;

                &:hover {
                    color: #ffff;
                }
            }
        }

        body:hover &.article-3 {
            background: #000;
        }
    }
}