body {
    background: #dfdada;

    h1 {
        color: blue;

        font: {
            family: helvetica;
            size: 2em;
            // weight: normal;
            weight: bold;
        }
    }
}

section {
    article {
        background: #a8d627;

        h2 {
            color: #fff;
        }

        p {
            color: #fff;
        }

        &.article-1 {
            background: #5fb43e;
        }

        &.article-2 {
            a {
                color: black;

                &:hover {
                    color: #ffff;
                }
            }
        }

        body:hover &.article-3 {
            background: #000;
        }
    }
}